<!-- <div id="menu" class="menu nav-collapse collapse width"> -->
  <!-- <div class="collapse-inner"> -->
<ul class="nav nav-stacked" id="side-nav-list">

  <li><a class="nav-option">
    <div class="nav-option-inner">
      <div class="self-portrait image-round"></div>
      <div>Jeff Folker</div>
    </div>
  </a></li>

  <li><a class="nav-option">
    <div class="nav-option-inner">
      <i class="icon-home"></i>
      <div>Home</div>
    </div>
  </a></li>

  <li><a class="nav-option">
    <div class="nav-option-inner">
      <i class="icon-money"></i>
      <div>Earn Fanbux</div>
    </div>
  </a></li>

  <li><a class="nav-option">
    <div class="nav-option-inner">
      <i class="icon-film"></i>
      <div>Tutorials</div>
    </div>
  </a></li>

  <li><a class="nav-option">
    <div class="nav-option-inner">
      <i class="icon-cloud"></i>
      <div>Tag Cloud</div>
    </div>
  </a></li>

  <li><a class="nav-option link-settings" >
    <div class="nav-option-inner">
      <i class="icon-gear"></i>
      <div>Settings</div>
    </div>
  </a></li>

  <li><a class="nav-option">
    <div class="nav-option-inner">
      <div>
        <span class="fanbux-count">400</span> Fanbux
      </div>
    </div>
  </a></li>

  <!-- <li><a class="link-destination">Futurama</a></li>
  <li><a class="link-destination">Star Wars</a></li>
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <i class="icon-caret-down pull-right"></i></a>
    <ul class="dropdown-menu" style="margin:0;">
      <li><a class="link-destination" href="#">Fishing Spot Finder</a></li>
      <li><a class="link-destination" href="#">Bike Shop Finder</a></li>
      <li><a class="link-destination" href="#">Running Shop Finder</a></li>
      <li><a class="link-destination" href="#">Golf Course Finder</a></li>
      <li><a class="link-destination" href="#">Traffic</a></li>
    </ul>
  </li> -->
</ul>
  <!-- </div> -->
<!-- </div> -->