.scrolling{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
}

/* make circle with huge border-radius */
.rounded-circle{
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}




