
/* transition speeds */
$instant-transition-duration  : 50ms;
$fast-transition-duration     : 0.1s;
$normal-transition-duration   : 0.2s;
$slow-transition-duration     : 0.35s;

/* side nav bar slide duration */
$navbar-slide-in-duration:$slow-transition-duration;
$navbar-slide-out-duration:$normal-transition-duration;

/* button durations */
$button-press-duration: $instant-transition-duration;
$button-hover-duration: $normal-transition-duration;


/* For Use With Compass */
$default-transition-property  : all;
$default-transition-duration  : $normal-transition-duration;
$default-transition-function  : ease-in-out;
$default-transition-delay     : false;


$default-box-shadow-color: rgba(#333333, 0.6);




/* Element Sizes */
$navbar-height: 54px;
$sidebar-width: 160px;


// $footer-height-phone: 18px;
$footer-height-phone: 0;




/* Colors */

$textColor: #333;

// normal palette
// $normal-blue:       rgb(64  , 154 , 204);
// $normal-blue-dark:  rgb(60  , 143 , 197);

$normal-blue:         rgb(48  , 134 , 195); 
$normal-blue-dark:    darken($normal-blue, 5%);
$normal-blue-darker:  darken($normal-blue, 10%);
$normal-blue-light:   lighten($normal-blue, 5%);
$normal-blue-lighter: lighten($normal-blue, 10%);
// $normal-blue-dark:  rgb(45  , 122 , 187);

$normal-grey:       rgb(188 , 190 , 192);
  // alias normal colors
  $blue:  $normal-blue;
  $grey:  $normal-grey;


// highlights
$highlight-green: rgb(0   , 211 , 112);
$highlight-red:   rgb(255 , 80  , 73);
$highlight-blue:  rgb(121 , 186 , 215);

// faint
$faint-blue:      rgb(231 , 243 , 247);
$faint-grey:      rgb(241 , 241 , 241);

// white
$white:           white;
$almost-white:    #FAFAFA;
$off-white:       #F5F5F5; //whitesmoke
$offer-white:     #E9E9E9; 



// side navigation bar color
$side-nav-under-background:   $normal-blue;
$side-nav-background:         $normal-blue-dark;
$side-nav-background-hover:   $normal-blue-dark;
$side-nav-background-active:  $normal-blue-light;

$side-nav-color:              $offer-white;
$side-nav-color-hover:        $white;
$side-nav-color-active:       $white;


// background of body and pseudo-transparent
$body-background: $white;

$base-font: Monstercat;
$base-font-family:  $base-font, sans-serif;

$large-icon-size:60px;

$list-item-background: $white;
$list-item-background-hover: $almost-white;
$list-item-height:88px;
$list-item-height-phone:66px;


/*  ====================
       PAGE SPECIFIC
    ====================  */

// dashboard
$list-header-height: 52px;
$list-header-height-phone: 26px;
$list-item-header-size:24px;

$list-header-search-width:75%;

$status-icon-size:20px;



// topbar

$topbar-color-top:$white;
$topbar-color-bottom:$off-white;
$topbar-gradient:linear-gradient(top, $topbar-color-top, $topbar-color-bottom);


$button-gradient:         linear-gradient(top, color-stops($normal-blue 0%, $normal-blue 50%, $normal-blue-dark 51%, $normal-blue-dark 100%));
$button-gradient-hover:   linear-gradient(top, color-stops($normal-blue-dark 0%, $normal-blue-dark 50%, $normal-blue-darker 51%, $normal-blue-darker 100%));
$button-default-opacity:  1;
$button-hover-opacity:    0.9;
$button-active-opacity:   0.8;


$light-border-bottom: 1px solid rgba(0  , 0   , 0 , 0.1);
$light-border-top:    1px solid rgba(255, 255, 255, 0.1);


