
/* transition speeds */
$instant-transition-duration  : 50ms;
$fast-transition-duration     : 0.1s;
$normal-transition-duration   : 0.2s;
$slow-transition-duration     : 0.35s;

/* side nav bar slide duration */
$navbar-slide-in-duration:$slow-transition-duration;
$navbar-slide-out-duration:$normal-transition-duration;

/* button durations */
$button-press-duration: $instant-transition-duration;
$button-hover-duration: $normal-transition-duration;


/* For Use With Compass */
$default-transition-property  : all;
$default-transition-duration  : $normal-transition-duration;
$default-transition-function  : ease-in-out;
$default-transition-delay     : false;




/* Element Sizes */
$navbar-height: 54px;
$sidebar-width: 160px;


// $footer-height-mobile: 18px;
$footer-height-mobile: 0;




/* Colors */

// normal palette
// $normal-blue:       rgb(64  , 154 , 204);
// $normal-blue-dark:  rgb(60  , 143 , 197);

$normal-blue:       rgb(65  , 145 , 204); 
$normal-blue-dark:  rgb(60  , 143 , 197);
$normal-grey:       rgb(188 , 190 , 192);
  // alias normal colors
  $blue:  $normal-blue;
  $grey:  $normal-grey;


// highlights
$highlight-green: rgb(0   , 211 , 112);
$highlight-red:   rgb(255 , 80  , 73);
$highlight-blue:  rgb(121 , 186 , 215);

// faint
$faint-blue:      rgb(231 , 243 , 247);
$faint-grey:      rgb(241 , 241 , 241);

// white
$white:           white;
$off-white:       #F5F5F5; //whitesmoke
$offer-white:     #E9E9E9; 



// side navigation bar color
$side-nav-under-background:   $normal-blue;
$side-nav-background:         $normal-blue-dark;
$side-nav-background-hover:   $normal-blue-dark;
$side-nav-background-active:  $highlight-blue;

$side-nav-color:              $offer-white;
$side-nav-color-hover:        $white;
$side-nav-color-active:       $white;


// background of body and pseudo-transparent
$body-background: $white;




