
form {
  fieldset {
    @include be-a-row(fluid);

    & > div {
      @include be-a-span(4);
    }
  }
  label {
    color: $light-text;
  }
  .help-block {
    font-size: 11px;
    line-height: 11px;
    color: lighter($light-text);
  }
}