/* 
  classes
*/
.scrolling{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include scroll-on-hover(y);
}

/* make circle with huge border-radius */
.rounded-circle, .image-round{
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

.self-portrait{
  background-image: url(http://graph.facebook.com/jeffrey.folker/picture?width=120&height=120);
  width: $side-nav-portrait-size;
  height: $side-nav-portrait-size;
  background-size: contain;
  // border-radius: 999px;
  @extend .image-round;
  display: inline-block;
  margin: 6px 8px;
  opacity: 0.85;
  
  @include transition-property(opacity);
  @include transition-duration($button-hover-duration);
}

.loading:before{
  content:"loading..."
}

.zero-edge{
  display: block;
  position:absolute;
  width:auto;
  height:auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
@mixin zero-edge($top:0, $right:0, $bottom:0, $left:0){
  display: block;
  position:absolute;
  width:auto;
  height:auto;
  top:$top;
  right:$right;
  left:$left;
  bottom:$bottom;
}

.icon-expander:before{
  .expanded & {
    @include rotate(180deg);
  }
  @include phone {
    @include rotate(270deg);
  }
}


*[class|=btn]{
  @include user-select(none);
  cursor:pointer;
  padding: 0 6px;
  overflow: hidden;
}

.spacer {
  margin-bottom: 32px;
}


// h1, h2, h3, h4, h5, h6 {
//   color: $headingsColor;
// }
