// Place all the styles related to the Dash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// arvo
// @import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
// @import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

// keyframes(expand-height){
//   0%{
//     height: 0;
//   }
//   100% {
//     height:auto;
//   }
// }

.dash-fanbux{

}
// @include qif(phone, true){
@include qif(tiny, true){
  #app-content{

    // make room for footer
    #main-content-container{
      bottom: $footer-height-phone;
    }

    .dash-fanbux{
      position: fixed;
      display: block;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1050;
      height: $footer-height-phone;
      background: $highlight-green;
      text-align: center;
      color: $white;
      @include shift-for-sidebar($include-right:true);
    }

  }
}

/*  */
.layouts-list-container{
  .list-header{
    position:relative;
    z-index: 50;
    height: $list-header-height;
    @include qif(tiny){
      height: $list-header-height-phone;
    }
    border-bottom: $light-border-bottom;
    .searchbar-container{
      @extend .zero-edge;
      .layouts-list-search{
        @extend .zero-edge;
        @include wmw;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        @include no-margin;

        height: $list-header-height;

        font-size: 33px;
        line-height: initial;
        left: 63px;
        right:(100 - $list-header-search-width);
        @include qif(tiny){
          left: 38px;
          font-size: 28px;
          right:(100 - $list-header-search-width-phone);
          height:$list-header-height-phone;
        }
        @include base-font;
        color:$grey;
        @include input-placeholder{
          color:$offer-white;
        }
      }
      i{
        position: absolute;
        @include icon-size(36px);
        left: 25px;
        top: 7px;
        @include qif(tiny){
          @include icon-size(28px);
          left: 8px;
          top: 4px;
        }
        color: $offer-white;
      }
    }
  }
  .layouts-list-scroller{
    @extend .scrolling;
    top:$list-header-height;
    @include qif(tiny){
      top: $list-header-height-phone;
    }
    z-index: 25;
  }
}
.btn-new-layout{
  display: block;
  position:absolute;
  @extend .zero-edge;
  left:$list-header-search-width;
  @include qif(tiny){
    left:$list-header-search-width-phone;
  }
  text-align: center;

  @include button-gradient;
  color:$white;
  font-size: 26px;
  line-height: $list-header-height;
  @include qif(tiny){
    line-height: $list-header-height-phone;
  }
}
.layouts-list{
  @include list-no-margin;
  display:table;
  width:100%;
}
.layout-list-item{
  position:relative;
  display:table-row;
  height:$list-item-height;
  background:$list-item-background;
  &:hover{
    background:$list-item-background-hover;
  }
  @include qif(tiny){
    display: block;
    height: $list-item-height-phone;
  }
}

.list-item-column{
  display:table-cell;
  vertical-align: middle;
  text-align:center;
  cursor:pointer;
  padding:0 5px;
  // min-width: 100px;

  border-top: $light-border-top;
  border-bottom: $light-border-bottom;
  li:first-child &{
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
  }
  li:last-child &{
    border-bottom: none;
  }

}
.list-item-thumb{
  display: block;
  margin:0 auto;

  // fb tab app image dimensions
  height: $list-item-height;
  width: ($list-item-height * 1.5);
  @include qif(tiny){
    height: 100%;
    width: 100%;
  }

  background: url(https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-prn1/851560_10151727615332495_132929428_n.jpg) no-repeat center center;
  background-size: contain;
}
.promo-indicator{
  color: rgba($highlight-blue, 0.25);
}

.status-column{
  min-width:auto;
  font-size: $status-icon-size;
  i{
    margin-right:8px;
    @include qif(phone){
      margin-right: 0;
      display: block;
    }
  }
}

.timestamp-column{
  font-size: 10px;
  line-height:10px;
  margin: 6px 0;

  color:$normal-blue;
  label{
    margin:0;
    padding:0;
    display:block;
    font-size: 10px;
    line-height:10px;
    color: $textColor;
  }

}

.promo-column, .large-icon-column{
  min-width:$large-icon-size;
  i{
    @include icon-size($large-icon-size);
  }

}

//  SPECIFIC COLUMNS
.timestamp-column{
  width:8%;
  @include qif(tiny){
    display:none;
  }
}
.promo-column{
  width:5%;
  @include qif(tiny){
    display:none;
  }
}

.thumb-column{
  width:8%;
  max-width: ($list-item-height * 1.5);
  @include qif(tiny){
    @include zero-edge;
    right:auto;
    // left: $thumb-column-margin-phone;
    width: $thumb-column-width-phone;
    // bottom:0;
    // height:$row-height-phone;
  }
}
.title-column{
  width:15%;
  text-align: left;
  left:$list-header-search-width;
  @include qif(tiny){
    @include zero-edge;
    left: ($thumb-column-width-phone + ($thumb-column-margin-phone * 2));
    right: $status-column-width-phone;
  }
}
.tag-column{
  width:10%;
  @include qif(tiny){
    display:none;
  }
}
.status-column{
  width: 6%;
  min-width: 40px;
  @include qif(tiny){
    @include zero-edge;
    left:auto;
  }
}












