body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden
    }
.frame{
    position:absolute;
    width:200%;
    height:100%;
    top:0;
    bottom:0;
    left:0
    }
    .frame .navbar .navbar-inner{
        border-radius:0;
        padding-left:5px;
        height:40px;
        width:100%;
        }
    .frame .menu{
        height:100%;
        background-color:#43474b;
        color:#fff;
        }

    .frame .menu .nav .dropdown .dropdown-menu {
        z-index:1;
        position: static;
        top: auto;
        left: auto;
        float: none;
        display: none;
        min-width:160px;
        max-width: none;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding:0;
        margin:0 !important;
        background-color:#666;
        }
        .frame .menu .nav .dropdown.open .dropdown-menu {display:block;}

        .frame .menu.collapse{
            float:left;
            height:100% !important;
            width:auto
            }
            .frame .menu.collapse.height{
                position:relative;
                height:0;
                overflow:hidden;
                -webkit-transition:height .35s ease;
                -moz-transition:height .35s ease;
                -o-transition:height .35s ease;
                transition:height .35s ease
                }
            .frame .menu.collapse.width{
                position:relative;
                width:0;
                overflow:hidden;
                -webkit-transition:width .35s ease;
                -moz-transition:width .35s ease;
                -o-transition:width .35s ease;transition:width .35s ease;
                }
            .frame .menu.collapse.in.width{
                width:auto;
                }
            .frame .menu.collapse.in.height{
                height:auto;
                }
.frame .menu .collapse-inner{
    position:relative;
    width:250px;
    height:100%;
    overflow-y:auto;
    }
.frame .menu .navbar .navbar-inner{
    text-align:center;
    color:grey;
    font-size:1.2em;
    line-height:38px;
    }
.frame .menu .nav-stacked{
    position:relative;
    }
.frame .menu .nav-stacked li a{
    font-weight:bold;
    color:#fff;
    padding:10px;
    border-bottom:1px solid rgba(0,0,0,.1);
    border-top:1px solid rgba(255,255,255,.1);
    }
.frame .menu .nav-stacked li a.active,
.frame .menu .nav-stacked li a:hover{
    color:#666;
    }
.frame .view{
    width:50%;
    height:100%;
    overflow-y:auto;
    position:relative;
    z-index:15;
    }
    .frame .view .navbar .navbar-inner .btn-navbar{
        display:block;
        float:left;
        }
    .frame .view #main-content{
        margin:55px 15px 15px 15px;
        }
.frame .nav [class*='icon-caret-']{
    opacity:.35;
    }

/* overwrite Bootstrap 2.3.2 styles 
.no-radius,.nav-collapse .nav>li>a,
.nav-collapse .dropdown-menu a {
    border-radius:0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    }
.nav-collapse .nav>li>a,.dropdown-menu>li>a{
    margin-bottom:0;
    }
@media (max-width: 979px){
.nav-collapse .dropdown-menu li+li a {
margin-bottom: 0 !important;
}
}
.frame .menu .dropdown-menu>li>a:hover,
.frame .menu .dropdown-menu>li>a:focus,
.frame .menu .dropdown-submenu:hover>a,
.frame .menu .dropdown-submenu:focus>a {
    background-image:none;
    background-color:#fdfdfd;
    }

.frame .menu .collapse-inner .dropdown-menu{
    padding:0;
    margin:0 !important;
    background-color:#666;
    }

/* override the overflow visible:important of the bootstrap responsive */
.menu.nav-collapse.collapse {
    overflow: hidden !important;
}