body{
  @include base-font;
}

#main-content-container {
  text-align: center;
}



.accordion {
  border: none;

  .accordion-group {
    border: none;
    border-bottom: $light-border-dark;
  }
  .accordion-heading {
    border: none;
  }
  .accordion-inner {
    border: none;
  }
}
