html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}




.frame{
  position:absolute;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  width:200%;
  .view{
    position:relative;
    height:100%;
    overflow:hidden;
    z-index:15;
    width:50%;
  }
}

// for desktops, always show side nav and don't push everything else offscreen
@include qif(desktop) {
  .frame{
    width:100%;
    .view{
      width:auto;
    }
  }
}

#app-content{
  height:100%;

  #main-content-container{
    @include transition-property(margin, bottom, left, right);
    @include navbar-slide-out-duration;
    margin: 0;
    position: absolute;
    top: $navbar-height;
    @include phone {
      top:$navbar-height-phone;
    }
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    #main-content{
      margin: 0;
    }
  }
}
// ..app-content


// side-nav
.menu.nav-collapse.collapse.width{
  display:block;
  margin-left: -$side-nav-width;
  @include transition-property(width, margin-left);
  @include navbar-slide-out-duration;

  @include when-sidebar-in {
    margin-left: 0;
    @include transition-property(width, margin-left);
    @include navbar-slide-in-duration;
  }

  float:left;
  height:100% !important;
  width:auto;
  position:relative;
  overflow:hidden !important;

  // COMPASS MIXIN
  @include user-select(none);

  background-color: $side-nav-background;
  width:$side-nav-width;
  // @include single-box-shadow(1px 1px 3px black);

  .collapse-inner{
    position:relative;
    height:100%;
    width:$side-nav-width;
    @include scroll-on-hover(y);
    background:$side-nav-under-background;
  }
}
// ..nav-collapse

.nav.nav-stacked{
  position:relative;
  margin:0;
  li{
    display:block;
    width:100%;

    @include first-last-no-border('&', '.nav-option'){
      background:transparent;
      &:hover{
        background:transparent;
      }
    }

    .nav-option{
      display: block;
      margin:0;

      @include transition-property(color, background-color);
      @include transition-duration($button-hover-duration);
      
      background:$side-nav-background;
      color: $side-nav-color;

      cursor:pointer;
      text-align:center;
      border-top:$light-border-top;
      border-bottom:$light-border-bottom;
      border-radius: 0;
      // text-transform: uppercase;

      // desktop
      @include mobile(false) {
        padding:10px;
        min-height:75px;
        font-size:20px;
        font-weight: 100;
      }
      // phone
      @include mobile{
        min-height: 24px;
        font-size:$sidebar-font-size-phone;
        text-align:left;
        line-height: $sidebar-icon-size-phone;
        position:relative;
        padding:8px;
      }

      .nav-option-inner{
        position:relative;

        i{
          display:block;
          font-size:48px;
          @include mobile{
            position: absolute;
            font-size: 23px;
            width: $sidebar-icon-size-phone;
            text-align: center;
          }
        }

        div{
          @include mobile{
            text-indent: 32px;
            line-height: $sidebar-icon-size-phone - 1;
          }
        }
      }

      .self-portrait{
        @include mobile{
          width: $sidebar-icon-size-phone;
          height: $sidebar-icon-size-phone;
          margin: 0;
          position: absolute;
          border-radius: 3px;
        }
      }

      &:hover, &:active{
        background:$side-nav-background;
        color:$side-nav-color-hover;

        .self-portrait{
          @include transition-property(opacity);
          @include transition-duration($button-hover-duration);
          opacity: 1;
        }

      }

      &:active{
        @include transition-duration($button-press-duration);
        background:$side-nav-background-active;

        .self-portrait{
          @include transition-duration($button-press-duration);
        }
      }

    } // .. nav-option



  }
}
// ..nav-stacked






