

@mixin navbar-slide-in-duration(){
  @include transition-duration($navbar-slide-in-duration);
}
@mixin navbar-slide-out-duration(){
  @include transition-duration($navbar-slide-out-duration);
}

html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}




.frame{
  @include transition-property(width);
  .view{
    position:relative;
    @include transition-property(left);
  }
}
// for desktops, always show side nav and don't push everything else offscreen
@media (min-width: 980px) {
  .frame{
    width:100%;
    .view{
      width:auto;
      // position:absolute;
      // top: 0;
      // bottom: 0;
      // right: 0;
      // left: $sidebarWidth;
    }
  }
}

#app-content{
  height:100%;

  #main-content-container{
    @include transition-property(margin, top, bottom, left, right);
    @include navbar-slide-out-duration;
    margin: 0;
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // overflow-y: scroll;
    #main-content{
      margin: 0;
    }
  }


  .navbar{
    margin-bottom:0;
    // width:100%;
    // min-width:100%;

    position:fixed;
    right: 0;
    left: 0;
    // width:100%;

    .navbar-inner{
      @include background(linear-gradient(top, $off-white, darken($off-white, 5%)));

      // min-width:200%;
      width:auto;
      min-width:auto;

      $padding: 13;
      min-height: $navbar-height - ($padding * 2);
      height:     $navbar-height - ($padding * 2);
      padding:#{$padding}px;
      border-width:0;
      font-size: 18px;

      .btn-navbar{
        overflow:hidden;
        margin: 0;
        // margin-left: 7px;
        // margin-top: 7px;
        padding: 2px 7px 5px 7px;
        border-radius: 3px;
        font-size: 18px;
        @include background($blue);

        i.icon-minus{
          display:block;
          padding:0;
          line-height:0;
          margin:0;
        }
      }
      .navbar-right{
        display:block;
        margin:0;
        padding:0;
        @extend .pull-right;
        list-style:none;
        > *{
          margin:0;
          padding:0;
          text-indent:0;
        }
      }
    }
    // ..navbar-inner
  }
  // ..navbar


  // ..sidebar

  // sidebar
  .menu.nav-collapse.collapse.width{
    display:block;

    // COMPASS MIXIN
    @include user-select(none);

    background-color: $side-nav-background;
    width:$sidebar-width;

    .collapse-inner{
      width:$sidebar-width;
      @include scroll-on-hover(y);

      .nav.nav-stacked{
        li{
          display:table;
          width:100%;
          background-color: $side-nav-background;
          >a{
            display: table-cell;
            height: 80px;
            vertical-align: middle;
            cursor:pointer;
            text-align:center;
            min-height:80px;
            color:#999;
            font-size:20px;
            border-radius: 0;
            background-color:transparent;

            // COMPASS MIXIN
            @include transition-property(color, background-color);
            @include transition-duration($default-transition-duration);
            &:hover, &:active{
              background-color:transparent;
              color:#666;
            }
            &:active{
              // COMPASS MIXIN
              @include transition-property(color, background-color);
              @include transition-duration($button-press-duration);
              background-color:$white;
            }

            i{
              display:block;
              font-size:48px;
            }
          }
        }
      }

    }

  }
  // ..sidebar


  /* ====================
        NAVBAR MIXINS
     ==================== */
  // toggle sidemenu in and out for certain screen sizes
  // we need to use mixins because these properties will be
  //  assigned in a media query AND in a class selector
  /* NAVBAR OUT */
  @mixin navbar-when-sidebar-out(){
    @include transition-property(left, right);
    @include navbar-slide-out-duration;
  }
  /* NAVBAR IN */
  @mixin navbar-when-sidebar-in(){
    // left:$sidebar-width;
    // @include navbar-slide-in-duration;
    @include shift-for-sidebar($conditions:false);
  }

  /* SIDEBAR OUT */
  @mixin sidebar-when-sidebar-out(){
    display:block;
    margin-left: -$sidebar-width;
    @include transition-property(width, margin-left);
    @include navbar-slide-out-duration;
  }
  /* SIDEBAR IN */
  @mixin sidebar-when-sidebar-in(){
    margin-left: 0;
    @include navbar-slide-in-duration;
  }

  .menu.nav-collapse.collapse.width{
    @include sidebar-when-sidebar-out;
  }
  .navbar{
    @include navbar-when-sidebar-out;
  }

  &.sidebar-in, .sidebar-in &{
    .menu.nav-collapse.collapse.width{
      @include sidebar-when-sidebar-in;
    }
    .navbar{
      @include navbar-when-sidebar-in;
      /* only push whole navbar right on smaller screens */
      right:-$sidebar-width;
    }
  }
  /*    desktop    */
  @include qif(desktop, true){
    .menu.nav-collapse.collapse.width{
      @include sidebar-when-sidebar-in;
    }
    .navbar{
      @include navbar-when-sidebar-in;
      .navbar-inner .btn-navbar{
        display:none !important;
      }
    }
  }
  /* .. desktop    */

  /* when the screen is big enough, don't extend the bar off-screen */
  @include qif(phone, false){
    .navbar{
      right:0 !important;
    }
  }



}
// ..app-container


// large screen
@media (min-width: 1200px) {
  #app-content{
  }
}






