


html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}




.frame{
  position:absolute;
  width:200%;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  @include transition-property(width, max-width);
  .view{
    position:relative;
    width:50%;
    height:100%;
    overflow:hidden;
    z-index:15;
    @include transition-property(left, width, max-width);
  }
}
// for desktops, always show side nav and don't push everything else offscreen
@include qif(desktop){
  .frame{
    @include transition-property(width, max-width);
    width:100%;
    .view{
      @include transition-property(left, width, max-width);
      width:auto;
    }
  }
}

#app-content{
  height:100%;

  #main-content-container{
    @include transition-property(margin, bottom, left, right);
    @include navbar-slide-out-duration;
    margin: 0;
    position: absolute;
    top: $navbar-height;
    @include qif(tiny){
      // @include navbar-slide-out-duration;
      top:$navbar-height-phone;
    }
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // overflow-y: scroll;
    #main-content{
      margin: 0;
    }
  }



  // side-nav
  .menu.nav-collapse.collapse.width{
    float:left;
    height:100% !important;
    width:auto;
    position:relative;
    overflow:hidden !important;

    display:block;

    // COMPASS MIXIN
    @include user-select(none);

    background-color: $side-nav-background;
    width:$side-nav-width;
    // @include single-box-shadow(1px 1px 3px black);

    .collapse-inner{
      position:relative;
      height:100%;
      width:$side-nav-width;
      @include scroll-on-hover(y);
      background:$side-nav-under-background;

      .nav.nav-stacked{
        position:relative;
        margin:0;
        li{
          display:block;
          width:100%;

          .nav-option{
            background:$side-nav-background;
          }

          @include first-last-no-border('&', '.nav-option'){
            background:transparent;
          };

          .nav-option{
            display: block;
            margin:0;
            padding:10px;

            min-height:75px;

            color: $side-nav-color;
            font-size:20px;
            font-weight: 100;

            cursor:pointer;
            text-align:center;
            border-top:$light-border-top;
            border-bottom:$light-border-bottom;
            border-radius: 0;
            // text-transform: uppercase;

            .nav-option-inner{
              position:relative;
            }

            // COMPASS MIXIN
            @include transition-property(color, background-color);
            @include transition-duration($button-hover-duration);
            
            &:hover, &:active{
              // background:$side-nav-background-hover;
              color:$side-nav-color-hover;

              .self-portrait{
                @include transition-property(opacity);
                @include transition-duration($button-hover-duration);
                opacity: 1;
              }

            }


            &:active{
              // COMPASS MIXIN
              @include transition-property(color, background-color);
              @include transition-duration($button-press-duration);
              background:$side-nav-background-active;

              .self-portrait{
                @include transition-property(opacity);
                @include transition-duration($button-press-duration);
                opacity: 1;
              }
            }

            i{
              display:block;
              font-size:48px;
            }
          } // .. nav-option

          $sidebar-icon-size-phone:26px;
          $sidebar-font-size-phone:16px;
          // make side nave smaller for short screen heights
          @include qif($device:phone){
            .nav-option{
              min-height: 24px;
              font-size:$sidebar-font-size-phone;
              text-align:left;
              line-height: $sidebar-icon-size-phone;
              position:relative;
              padding-top: 8px;
              padding-bottom: 8px;

              .self-portrait{
                width: $sidebar-icon-size-phone;
                height: $sidebar-icon-size-phone;
                margin: 0;
                position: absolute;
                border-radius: 3px;
              }

              .nav-option-inner{
                i{
                  display: block;
                  position: absolute;
                  font-size: 23px;
                  width: $sidebar-icon-size-phone;
                  text-align: center;
                }
                div{
                  text-indent: 32px;
                  line-height: $sidebar-icon-size-phone - 1;
                }
              }
            }
          }



        }
      }

    }

  }
  // ..sidebar


  /* ====================
        NAVBAR MIXINS
     ==================== */
  // toggle sidemenu in and out for certain screen sizes
  // we need to use mixins because these properties will be
  //  assigned in a media query AND in a class selector
  /* NAVBAR OUT */
  // @mixin navbar-when-sidebar-out(){
  //   @include transition-property(left, right);
  //   @include navbar-slide-out-duration;
  // }
  /* NAVBAR IN */
  // @mixin navbar-when-sidebar-in(){
  //   @include shift-for-sidebar($conditions:false);
  // }

  /* SIDEBAR OUT */
  @mixin sidebar-when-sidebar-out(){
    display:block;
    margin-left: -$side-nav-width;
    @include transition-property(width, margin-left);
    @include navbar-slide-out-duration;
  }
  /* SIDEBAR IN */
  @mixin sidebar-when-sidebar-in(){
    margin-left: 0;
    @include navbar-slide-in-duration;
  }

  .menu.nav-collapse.collapse.width{
    @include sidebar-when-sidebar-out;
  }
  
  .menu.nav-collapse.collapse.width{
    @include when-sidebar-in(){
      @include sidebar-when-sidebar-in;
    }
  }

}
// ..app-container





