
html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// for desktops, always show side nav and don't push everything else offscreen
@media (min-width: 980px) {
  .frame{
    width:100%;
    .view{
      width:auto;
      position:absolute;
      top: 0;
      bottom: 0;
      left: $sidebarWidth;
      right: 0;
    }
  }
}

#app-content{
  height:100%;


  .navbar{
    margin-bottom:0;
    
    .btn-navbar{
      @extend .hidden-desktop;
    }
  }
  #main-content-container{
    margin: 0;
    position: absolute;
    top: $topbarHeight;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // overflow-y: scroll;
    #main-content{
      margin: 0;
    }
  }

  .nav-collapse.width.collapse{
    width:$sidebarWidth;
    margin-left: -$sidebarWidth;
    @include transition-property(width, margin-left);
    @include transition-duration($default-transition-duration);

    &.in{
      // width:$sidebarWidth;
      margin-left: 0;
      @include transition-property(width, margin-left);
      @include transition-duration($slow-transition-duration);
    }
  }

  .menu{

    // COMPASS MIXIN
    @include user-select(none);

    background-color: $sideNavBackground;

    .collapse-inner{
      width:$sidebarWidth;

      .nav.nav-stacked{
        li{
          display:table;
          width:100%;
          background-color: $sideNavBackground;
          >a{
            display: table-cell;
            height: 80px;
            vertical-align: middle;
            cursor:pointer;
            text-align:center;
            min-height:80px;
            color:#999;
            font-size:20px;
            border-radius: 0;
            background-color:transparent;

            // COMPASS MIXIN
            @include transition-property(color, background-color);
            @include transition-duration($default-transition-duration);
            &:hover, &:active{
              background-color:transparent;
              color:#666;
            }
            &:active{
              // COMPASS MIXIN
              @include transition-property(color, background-color);
              @include transition-duration($fast-transition-duration);
              background-color:white;
            }

            i{
              display:block;
              font-size:48px;
            }
          }
        }
      }

    }

  }

}