



.navbar{
  position:fixed;
  z-index:99;

  margin-bottom:0;

  right: 0;
  left: 0;

  .navbar-inner{
    @include topbar-gradient;

    @include wmw(auto);

    text-align:center;
    font-size:1.2em;
    line-height:38px;

    padding:    $navbar-padding;
    min-height: $navbar-height - ($navbar-padding * 2);
    // height:     $navbar-height - ($navbar-padding * 2);
    @include qif(tiny){
      padding:    $navbar-padding-phone;
      min-height: $navbar-height-phone - ($navbar-padding-phone * 2);
      // height:     $navbar-height-phone - ($navbar-padding-phone * 2);
    }

    border-width:0;
    font-size: 18px;

    .btn-navbar{
      float:left;
      overflow:hidden;
      margin: 0;
      padding: 2px 7px 2px 7px;
      border-radius: 3px;
      font-size: 18px;
      @include background($blue);

      @include qif(desktop, true){
        display: none !important;
      }
    }

    .navbar-right{
      display:block;
      margin:0;
      padding:0;
      @extend .pull-right;
      list-style:none;
      > *{
        margin:0;
        padding:0;
        text-indent:0;
      }
    }
  }
  // ..navbar-inner


  @include transition-property(left, right);
  @include navbar-slide-out-duration;

  @include when-sidebar-in(){
    @include shift-for-sidebar($conditions:false);
    @include qif(desktop, false){
      right:-$sidebar-width;
    }
  }
  /*    ALWAYS IN    */

  @include qif(phone, false){
    right:0 !important;
  }
}
// ..navbar


.navbar-options{
  display: table;
}
.navbar-option{
  display: table-cell;
}








